*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body.active{

    background-color: salmon;
    background-color: yelllow;
    transition: all 0.3s ease-in;
}


body.active .carte{
    background-color: #444;
    color: #fff;
}

.mousemove{
    height: 50px;
    width: 50px;
    border: 2px solid pink;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    transition: 0.2s ease;
    z-index: -1;
}

.carte {
    width: 300px;
    background-color: azure;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.carte p{
    padding-top: 10px;
}

.carte button {
    margin-top: 20px;
    padding: 20git px;
    cursor: pointer;
}

.nom{
    width: 100%;
    border-radius: 5px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid rgb(160, 160, 160);
    outline: none;
}
